$color-primary: #038ad8;
$color-primary-light: #2998e1;
$color-primary-dark-light: #1976d2;
$color-primary-dark: #003459;

$color-secondary: #efbdeb;
$color-secondary-dark: #b68cb8;

$color-tertiary: #c2d076;

$white: #ffffff;
$black: #000000;

//icons
$icon-size: 6rem;
