.home-header {
  background-image: linear-gradient(
      320deg,
      rgba($color-primary, 0.5),
      rgba($white, 0.1)
    ),
    url("/src/assets/images/patrick-fore-0_AX9pab940-unsplash.webp");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;

  color: $white;

  backface-visibility: hidden;

  &--swipe {
    &:link,
    &:visited {
      color: currentColor;
      display: flex;
      flex-direction: column;

      text-decoration: none;
      font-size: 2rem;

      position: absolute;
      top: 92vh;
      animation: jump 1.4s infinite;

      &::after {
        content: ">";
        transform: rotate(90deg);
        margin: auto;
      }

      @media screen and (max-width: 700px) {
        font-size: 1.8rem;
      }
    }
  }
}
