.home-header {
  background-image: linear-gradient(
      320deg,
      rgba($color-primary, 0.5),
      rgba($white, 0.1)
    ),
    url("/src/assets/images/patrick-fore-0_AX9pab940-unsplash.webp");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;

  position: relative;
  z-index: 0;

  display: flex;
  justify-content: center;

  color: $white;

  &--heading {
    letter-spacing: 1.5rem;
    font-size: 5rem;
    text-shadow: 0 0 6rem $black;
    width: fit-content;

    position: absolute;
    z-index: 2;
    top: 15%;
  }

  &--text {
    letter-spacing: 2px;
    line-height: 5rem;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    width: 65vw;

    position: absolute;
    z-index: 1;
    top: 33%;
  }

  &--swipe {
    &:link,
    &:visited {
      color: currentColor;
      display: flex;
      flex-direction: column;

      text-decoration: none;
      font-size: 2rem;

      position: absolute;
      top: 90vh;
      z-index: 1;

      transition: all 0.2s;

      &::after {
        content: ">";
        transform: rotate(90deg);
        margin: auto;
      }
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}
