.home-header {
  background-image: linear-gradient(
      320deg,
      rgba($color-primary, 0.5),
      rgba($white, 0.1)
    ),
    url("/src/assets/images/patrick-fore-0_AX9pab940-unsplash.webp");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;

  color: $black;

  backface-visibility: hidden;

  &--swipe {
    display: flex;
    flex-direction: column;

    color: currentColor;
    font-size: 2rem;

    position: absolute;
    top: 92vh;

    animation: jump 2s infinite;

    &:link,
    &:visited {
      text-decoration: none;

      &::after {
        content: ">";
        transform: rotate(90deg);
        margin: auto;
      }
    }

    @media screen and (max-width: 700px) {
      font-size: 1.8rem;
    }
  }
}

.home-section-image {
  width: 100%;
  height: 100%;
}
