.card-post {
  border: 1px solid currentColor;
  min-height: 20rem;
  background-color: #efef;
  border-radius: 2rem;
  box-shadow: 0 0 5px $black inset;

  &__picture {
    width: 11rem;
    height: 10rem;
    border-radius: 100%;
  }
}
