.card-response {
  background-color: transparent;
  border-radius: 2rem;
  border-bottom: 1px solid gray;

  &__picture {
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
  }

  &__solution {
    color: #00dc00 !important;
    width: 3rem !important;
    height: 3rem !important;

    &--check {
      color: #00dc00 !important;
      opacity: 0.3;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
