.card-post {
  min-height: 20rem;
  background-color: #efef;
  border-radius: 2rem;
  box-shadow: 0 1.5px 5px $black;

  &__picture {
    width: 11rem;
    height: 10rem;
    border-radius: 100%;
  }
}
