.card-response {
  background-color: transparent;
  border-radius: 2rem;
  border-bottom: 1px solid gray;

  &__picture {
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
  }

  &__check {
    color: #00dc00;
    opacity: 0.3;
    width: 3rem !important;
    height: 3rem !important;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
