.modal-container {
  padding: 3rem;
  display: flex;
  justify-content: center;
  color: $color-primary-dark;
  text-align: center;

  & h1 {
    text-transform: uppercase;
  }

  & p {
    font-family: inherit;
    font-size: 1.8rem;
  }
}
