.form-container {
  & label {
    font-size: 1.5rem;
  }
  & input {
    font-size: 2rem;
  }

  & button {
    font-size: 1.5rem;
  }
  & #--custom-label {
    font-size: 2.5rem;
  }

  & #--text-area {
    display: flex;
    width: 100%;
    font-size: 1.6rem;
    resize: vertical;
    min-height: 30vh;
  }

  & #--select-option {
    font-size: 1.2rem;
  }

  &__error {
    color: red !important;
    font-size: 1.1rem !important;
    margin-top: -1rem !important;
    &--posts {
      font-size: 1.3rem !important;
      margin-top: 0.3rem !important;
    }
  }
}
