.form-container {
  & label {
    font-size: 2.5rem;
  }
  & ::placeholder {
    font-family: inherit;
  }

  & input {
    font-size: 1.8rem;
    font-family: inherit;
  }

  & button {
    font-size: 1.5rem;
  }

  .form-container--label {
    font-size: 2rem;
    text-transform: none;
  }

  &__text-area {
    display: flex;
    font-family: inherit;
    width: 100%;

    &--post {
      resize: vertical;
      min-height: 30vh;
      font-family: inherit;
      font-size: 1.7rem;
      border-radius: 0.7rem;
    }

    &--response {
      resize: vertical;
      min-height: 10vh;
      font-family: inherit;
      font-size: 1.7rem;
      border-radius: 0.7rem;
    }
  }

  & #--select-option {
    font-size: 1.2rem;
  }

  &__error {
    color: red !important;
    font-size: 1.1rem !important;
    margin-top: -1rem !important;
    &--posts {
      font-size: 1.3rem !important;
      margin-top: 0.3rem !important;
    }
  }
}
