@keyframes move-in-up {
  0% {
    opacity: 0;
    transform: translateY(-20rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes move-in-down {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes jump {
  0% {
    transform: translateY(-0.5rem);
    opacity: 0.1; }
  50% {
    transform: translateY(1rem);
    opacity: 1; }
  100% {
    transform: translateY(-0.5rem);
    opacity: 0.1; } }

*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f3f3f3; }

body {
  font-family: "Times New Roman", Times, serif; }

.heading-primary {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) max-content minmax(max-content, 1fr);
  grid-column-gap: 2rem;
  align-items: center;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 3.2rem;
  color: #038ad8;
  text-align: center; }
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 6rem;
    font-weight: 800;
    text-shadow: 0 0 6rem #000000;
    margin-top: -5rem;
    animation: move-in-up 1s ease-out; }
    @media screen and (max-width: 700px) {
      .heading-primary--main {
        font-size: 3rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    letter-spacing: 2px;
    line-height: 5rem;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 300;
    animation: move-in-down 1s ease-out;
    width: 65vw;
    margin-top: -1rem; }
    @media screen and (max-width: 700px) {
      .heading-primary--sub {
        font-size: 2rem;
        line-height: 3.5rem; } }
  .heading-primary::before, .heading-primary::after {
    content: "";
    display: block;
    height: 1px;
    background: currentColor; }

.heading-secondary {
  color: #003459;
  text-transform: capitalize;
  font-size: 2.5rem; }
  .heading-secondary--stats-title {
    font-size: 3.5rem;
    margin-bottom: 0; }
  .heading-secondary--card-title {
    text-transform: capitalize;
    font-size: 2.5rem; }

.heading-tertiary {
  font-size: 1.8rem;
  color: #2998e1; }
  .heading-tertiary--stats-sub {
    font-size: 1.7rem;
    margin: 0 0 2rem 0;
    text-transform: uppercase; }

.text {
  margin-top: -0.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  font-weight: 100; }
  .text--stats {
    font-size: 1.8rem;
    text-align: center; }
  .text--card {
    font-size: 1.8rem; }

.feature {
  box-shadow: 0 4px 20px #555;
  border: 1px solid #000000;
  background: linear-gradient(to bottom, #038ad8, #003459);
  color: #ffffff; }
  .feature__icon {
    fill: currentColor;
    width: 6rem;
    height: 6rem; }

.home-header {
  background-image: linear-gradient(320deg, rgba(0, 52, 89, 0.9), rgba(0, 0, 0, 0.6)), url("/src/assets/images/header.webp");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #ffffff;
  backface-visibility: hidden; }
  .home-header--swipe {
    display: flex;
    flex-direction: column;
    color: currentColor;
    font-size: 2rem;
    position: absolute;
    top: 92vh;
    animation: jump 2s infinite; }
    .home-header--swipe:link, .home-header--swipe:visited {
      text-decoration: none; }
      .home-header--swipe:link::after, .home-header--swipe:visited::after {
        content: ">";
        transform: rotate(90deg);
        margin: auto; }
    @media screen and (max-width: 700px) {
      .home-header--swipe {
        font-size: 1.8rem; } }

.home-section-image {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%; }

.home-stats {
  background-image: linear-gradient(to right, rgba(0, 52, 89, 0.8), rgba(0, 52, 89, 0.8)), url("/src/assets/images/stats-sm.webp");
  min-height: auto;
  background-position: center;
  background-size: cover;
  aspect-ratio: 4/1;
  color: #ffffff; }
